In [3]:
import pandas as pd
df1 = pd.read_csv("../data/historico_dolar.csv")
df1

          Fecha  Compra  Venta
0     2010/1/01    3.80   3.84
1     2010/2/01    3.82   3.86
2     2010/3/01    3.84   3.88
3     2010/4/01    3.85   3.89
4     2010/5/01    3.89   3.93
..          ...     ...    ...
115   2019/8/01   57.00  61.00
116   2019/9/01   55.50  59.00
117  2019/10/01   58.50  63.50
118  2019/11/01   57.75  62.25
119  2019/12/01   58.00  63.00

[120 rows x 3 columns]

In [1]:
import pandas as pd
df1 = pd.read_csv("../data/variacion_historico_dolar.csv")
df1

     Año Trimestral  Semastral  Anual    Tipo
0   2010        0.5        1.3    4.7   venta
1   2010        0.5        1.3    4.8  compra
2   2011        2.1        4.6    8.0   venta
3   2011        2.2        4.7    8.1  compra
4   2012        4.7        8.6   14.4   venta
5   2012        4.7        8.7   14.6  compra
6   2013       12.6       21.0   32.5   venta
7   2013       12.7       21.1   32.8  compra
8   2014        1.5        5.3   31.3   venta
9   2014        1.6        5.4   30.6  compra
10  2015       41.0       46.3   55.4   venta
11  2015       38.3       43.5   52.5  compra
12  2016        3.9        5.9   21.1   venta
13  2016        4.0        6.1   21.7  compra
14  2017        8.0       12.5   17.4   venta
15  2017        7.6       12.2   17.2  compra
16  2018      - 8.3       31.3  104.2   venta
17  2018      - 8.7       29.6  100.0  compra
18  2019        6.8       44.8   63.2   venta
19  2019        4.5       39.8   57.6  compra