In [14]:
# Crear la tabla dolarHoy en la base de datos
import dml_dolar_hoy
dml_dolar_hoy.crearBaseDolarHoy()

In [15]:
# Reportes diarios
import dolarHoy_scraping
dolarHoy_scraping.scraper()

['Banco Nacion', '160.50', '168.50']
INSERT INTO dolarHoy(fecha, tipo, compra, venta)
                        VALUES ("2022-11-15", "Banco Nacion", 160.50, 168.50 )
['Dolar Libre', '298.00', '302.00']
INSERT INTO dolarHoy(fecha, tipo, compra, venta)
                        VALUES ("2022-11-15", "Dolar Libre", 298.00, 302.00 )
['Dolar Mayorista', '161.92', '162.12']
INSERT INTO dolarHoy(fecha, tipo, compra, venta)
                        VALUES ("2022-11-15", "Dolar Mayorista", 161.92, 162.12 )
['Dolar Bolsa', '301.34', '303.46']
INSERT INTO dolarHoy(fecha, tipo, compra, venta)
                        VALUES ("2022-11-15", "Dolar Bolsa", 301.34, 303.46 )
['Contado con liqui', '316.68', '325.61']
INSERT INTO dolarHoy(fecha, tipo, compra, venta)
                        VALUES ("2022-11-15", "Contado con liqui", 316.68, 325.61 )

                tipo  compra   venta
0       Banco Nación  160.50  168.50
1        Dólar Libre  298.00  302.00
2    Dólar Mayorista  161.92  162.12
3        Dólar Bolsa  301.34  303.46
4  Contado con liqui  316.68  325.61

In [4]:
import pandas as pd
from datetime import datetime
fecha = datetime.now().date()
dolarHoy = pd.read_csv(f"../data/diario/{fecha}-dolarHoy.csv")
dolarHoy

                tipo  compra   venta
0       Banco Nación  160.50  168.50
1        Dólar Libre  298.00  302.00
2    Dólar Mayorista  161.92  162.12
3        Dólar Bolsa  303.62  305.31
4  Contado con liqui  314.78  319.99

In [5]:
import pandas as pd
df1 = pd.read_csv("../data/historico_dolar.csv")
df1

          Fecha  Compra  Venta
0     2002/1/01    1.85   2.05
1     2002/2/01    2.10   2.20
2     2002/3/01    2.90   3.00
3     2002/4/01    2.87   2.97
4     2002/5/01    3.50   3.60
..          ...     ...    ...
211   2019/8/01   57.00  61.00
212   2019/9/01   55.50  59.00
213  2019/10/01   58.50  63.50
214  2019/11/01   57.75  62.25
215  2019/12/01   58.00  63.00

[216 rows x 3 columns]

In [6]:
import pandas as pd
df1 = pd.read_csv("../data/variacion_historico_dolar.csv")
df1

           Año Trimestral  Semastral  Anual    Tipo
0   2002/01/01       -7.6      -11.0     --   venta
1   2002/01/01       -6.9      -10.4     --  compra
2   2003/01/01        1.0        5.3  -12.9   venta
3   2003/01/01        1.0        5.4  -12.8  compra
4   2004/01/01       -0.3        0.7    1.0   venta
5   2004/01/01       -0.7        0.3    1.0  compra
6   2005/01/01        4.4        5.2    2.0   venta
7   2005/01/01        4.1        4.9    2.0  compra
8   2006/01/01       -1.0       -0.3    1.3   venta
9   2006/01/01       -1.0       -0.3    1.7  compra
10  2007/01/01        0.0        1.6    1.9   venta
11  2007/01/01        0.0        1.3    1.6  compra
12  2008/01/01        9.9       13.5    9.5   venta
13  2008/01/01       10.0       13.3    9.6  compra
14  2009/01/01       -1.0        0.0   10.1   venta
15  2009/01/01       -1.1        0.0   10.3  compra
16  2010/01/01        0.5        1.3    4.7   venta
17  2010/01/01        0.5        1.3    4.8  compra
18  2011/01/01        2.1        4.6    8.0   venta
19  2011/01/01        2.2        4.7    8.1  compra
20  2012/01/01        4.7        8.6   14.4   venta
21  2012/01/01        4.7        8.7   14.6  compra
22  2013/01/01       12.6       21.0   32.5   venta
23  2013/01/01       12.7       21.1   32.8  compra
24  2014/01/01        1.5        5.3   31.3   venta
25  2014/01/01        1.6        5.4   30.6  compra
26  2015/01/01       41.0       46.3   55.4   venta
27  2015/01/01       38.3       43.5   52.5  compra
28  2016/01/01        3.9        5.9   21.1   venta
29  2016/01/01        4.0        6.1   21.7  compra
30  2017/01/01        8.0       12.5   17.4   venta
31  2017/01/01        7.6       12.2   17.2  compra
32  2018/01/01      - 8.3       31.3  104.2   venta
33  2018/01/01      - 8.7       29.6  100.0  compra
34  2019/01/01        6.8       44.8   63.2   venta
35  2019/01/01        4.5       39.8   57.6  compra